

.form-container {
    /*background: #ffffff;*/
    /*padding: 30px;*/
    /*border-radius: 10px;*/
    /*box-shadow: 0 4px 8px rgba(0,0,0,0.1);*/
    width: 100%;
    /*max-width: 400px;*/
}

.page-header {
    display: block;
    padding: 0;
}

.page-header {
    margin-bottom: 150px;
}

@media only screen and (max-width: 576px) {
    .page-header {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
}

.header {
    border-radius: 0 0 17% 17%;
    text-align: center;
    padding: 0;
}
.header {
    position: fixed;
    width: 100%;
    overflow: inherit;
    height: 17em;
}

    .header svg {
        display: block;
        width: 100%;
        height: auto;
    }

.logo-circle {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);   
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #e6e6e6;
    /*position: absolute;
    top: 0;
    left: 0;
    transform: translateX(35vw) translateY(35%);*/
    border: 5px solid #002f9b;
}

    .logo-circle img {
        width: 65%;
        height: auto;
    }

.header-btn {
    position: absolute;
    top: 15px;
    left: 15px;
    background: transparent !important;
    border: none;
    /*color: #002f9b !important;*/
    font-size: 30px;
}
