@namespace Moamalat.Pages
@inherits LocalizationComponent
@page "/home"
@using Moamalat.Components

@* <PageTitle>Home</PageTitle> *@


<ServiceGrid/>

<button class="btn btn-primary" onclick="">Payment Test</button>
<CommingSoon/>


@code{
    protected override async Task OnInitializedAsync()
    {
        await secureDataStoreService.SetAsync("PersonId", "1");

        //return base.OnInitializedAsync();
    }

    
}