@inherits LocalizationComponent
@namespace Moamalat.Components.Basic
@inject RequestDetailService _RequestDetailService
   
<div class="container">
    <div class="card mb-2 border shadow-0">
        <div class="card-header bg-white">
            <div class="row no-gutters align-items-center">
                <div class="col">
                    <span class="h6 font-weight-bold text-uppercase">Validate Entered Data</span>
                </div>
            </div>
        </div>
        <div class="card-body">

            <EditForm method="post" Model="RequestDetailData" OnValidSubmit="AddRequestDetailData" FormName="create" Enhance>
                <DataAnnotationsValidator />
                @* <ValidationSummary class="text-danger" /> *@
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="RequestDetailId" class="form-label">RequestDetailId:</label>
                            <InputNumber id="RequestDetailId" @bind-Value="RequestDetailData.RequestDetailId" class="form-control" />
                            <ValidationMessage For="() => RequestDetailData.RequestDetailId" class="text-danger" />
                        </div>                        <div class="mb-3">
                            <label for="RequestId" class="form-label">RequestId:</label>
                            <InputNumber id="RequestId" @bind-Value="RequestDetailData.RequestId" class="form-control" />
                            <ValidationMessage For="() => RequestDetailData.RequestId" class="text-danger" />
                        </div>                        <div class="mb-3">
                            <label for="ParameterId" class="form-label">ParameterId:</label>
                            <InputNumber id="ParameterId" @bind-Value="RequestDetailData.ParameterId" class="form-control" />
                            <ValidationMessage For="() => RequestDetailData.ParameterId" class="text-danger" />
                        </div>                        <div class="mb-3">
                            <label for="ParameterValue" class="form-label">ParameterValue:</label>
                            <InputText id="ParameterValue" @bind-Value="RequestDetailData.ParameterValue" class="form-control" />
                            <ValidationMessage For="() => RequestDetailData.ParameterValue" class="text-danger" />
                        </div>                        <div class="mb-3">
                            <label for="Status" class="form-label">Status:</label>
                            <InputText id="Status" @bind-Value="RequestDetailData.Status" class="form-control" />
                            <ValidationMessage For="() => RequestDetailData.Status" class="text-danger" />
                        </div>                        <div class="mb-3">
                            <label for="CreationDate" class="form-label">CreationDate:</label>
                            <InputNumber id="CreationDate" @bind-Value="RequestDetailData.CreationDate" class="form-control" />
                            <ValidationMessage For="() => RequestDetailData.CreationDate" class="text-danger" />
                        </div>                        <div class="mb-3">
                            <label for="CreatedBy" class="form-label">CreatedBy:</label>
                            <InputNumber id="CreatedBy" @bind-Value="RequestDetailData.CreatedBy" class="form-control" />
                            <ValidationMessage For="() => RequestDetailData.CreatedBy" class="text-danger" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-block btn-primary">Create</button>
                    </div>
                </div>

            </EditForm>

        </div>
    </div>

</div>
@code
{
    [SupplyParameterFromForm]
    public RequestDetail RequestDetailData { get; set; }

[Parameter]
    public int RequestDetailId { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        if (RequestDetailId> 0 )
        {
            RequestDetailData = await _RequestDetailService.GetRequestDetailById(RequestDetailId);
        }
 }

    protected override void OnInitialized()
    {
        RequestDetailData ??= new();
    }
        //return base.OnParametersSetAsync();
   
    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD

    public async Task AddRequestDetailData()
    {
        await _RequestDetailService.AddRequestDetail(RequestDetailData);

         _navigationManager.NavigateTo("/RequestDetailListPage");
    }
}

