@inherits LocalizationComponent
@inject RequestDetailService _RequestDetailService
@namespace Moamalat.Components.Basic
<PageTitle>RequestDetail List</PageTitle>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>RequestDetail List</h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    @* <div class="panel-tag">

                    </div> *@
                    <!-- datatable start -->

                    <QuickGrid Class="table"
                               ItemsProvider="DoFetchRequestDetail" Pagination="_paginationState">
                        <PropertyColumn Title="RequestDetailId" Property="w=>w.RequestDetailId" />
                        <PropertyColumn Title="RequestId" Property="w=>w.RequestId" />
                        <PropertyColumn Title="ParameterId" Property="w=>w.ParameterId" />
                        <PropertyColumn Title="ParameterValue" Property="w=>w.ParameterValue" />
                        <PropertyColumn Title="Status" Property="w=>w.Status" />
                        <PropertyColumn Title="CreationDate" Property="w=>w.CreationDate" />
                        <PropertyColumn Title="CreatedBy" Property="w=>w.CreatedBy" />
                        <TemplateColumn Context="requestdetail">

                            <a class="m-1 p-2" href="">
                                Edit
                            </a>
                            <a class="m-1 p-1">
                                Delete
                            </a>
                        </TemplateColumn>

                    </QuickGrid>
                    <Paginator State="@_paginationState" />                   <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    public PaginationState _paginationState { get; set; } = new PaginationState();
    public PaginationResult<RequestDetail> Pagination { get; set; } = new PaginationResult<RequestDetail>()
        {
            PageSize = 10,
            PageNumber = 1
        };
    GridItemsProvider<RequestDetail>? DoFetchRequestDetail;

    protected override Task OnInitializedAsync()
    {
        DoFetchRequestDetail = async Req =>
        {
            await DoFetch();
            return GridItemsProviderResult.From<RequestDetail>(items: Pagination.Items.ToList(),
                                                totalItemCount: Pagination.RecordsCount);
        };
        return base.OnInitializedAsync();
    }
    private async Task DoFetch()
    {
        if (Pagination == null)
            Pagination = new PaginationResult<RequestDetail>() { PageSize = 10, PageNumber = 1, Items = new List<RequestDetail>() };
        Pagination.PageNumber = _paginationState.CurrentPageIndex + 1;
        Pagination = await _RequestDetailService.GetPaged(Pagination);
        if (Pagination?.Items == null)
            Pagination.Items = Enumerable.Empty<RequestDetail>();


        StateHasChanged();
    }

}
