@inherits LocalizationComponent 
@inject PaymentDataService _PaymentDataService
@namespace Moamalat.Components.Basic
<PageTitle>PaymentData List</PageTitle>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>PaymentData List</h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    @* <div class="panel-tag">

                    </div> *@
                    <!-- datatable start -->
             
                    <QuickGrid Class="table"
                               ItemsProvider="DoFetchPaymentData" Pagination="_paginationState">
<PropertyColumn Title="PaymentId" Property="w=>w.PaymentId" />
<PropertyColumn Title="PaymentDate" Property="w=>w.PaymentDate" />
<PropertyColumn Title="RequestId" Property="w=>w.RequestId" />
<PropertyColumn Title="Amount" Property="w=>w.Amount" />
<PropertyColumn Title="BalanceBefore" Property="w=>w.BalanceBefore" />
<PropertyColumn Title="BalanceAfter" Property="w=>w.BalanceAfter" />
<TemplateColumn Context="paymentdata">

                                   <a class="m-1 p-2" href="">
                                    Edit
                                </a>
                                <a class="m-1 p-1">
                                    Delete
                                </a>
                      </TemplateColumn>

                    </QuickGrid>
                    <Paginator State="@_paginationState" />                   <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>

@code{
 
 public PaginationState _paginationState { get; set; } = new PaginationState();
 public PaginationResult<PaymentData> Pagination { get; set; } = new PaginationResult<PaymentData>()
     {
         PageSize = 10,
         PageNumber = 1
     };
 GridItemsProvider<PaymentData>? DoFetchPaymentData;

 protected override Task OnInitializedAsync()
 {
     DoFetchPaymentData = async Req=>
     {
         await DoFetch();
         return GridItemsProviderResult.From<PaymentData>(items: Pagination.Items.ToList(), 
                                             totalItemCount: Pagination.RecordsCount);
     };
     return base.OnInitializedAsync();
 }
 private async Task DoFetch()
 {
     if (Pagination == null)
         Pagination = new PaginationResult<PaymentData>() { PageSize = 10, PageNumber = 1, Items = new List<PaymentData>() };
     Pagination.PageNumber = _paginationState.CurrentPageIndex+1;
     Pagination = await _PaymentDataService.GetPaged(Pagination);
     if (Pagination?.Items == null)
            Pagination.Items = Enumerable.Empty<PaymentData>();


     StateHasChanged();
 }

}
