@page "/addDocType"
@page "/addDocType/{docTypeId}"


@if (string.IsNullOrEmpty(DocTypeId))
{
    <h3>Create Document Type</h3>
    <PageTitle>Create Document Type</PageTitle>
}
else
{
    <h3>Update Document Type</h3>
    <PageTitle>Update Document Type</PageTitle>
}

<div class="row col-md-12">
    <EditForm Model="@docTypeModel" OnValidSubmit=@ValidFormSubmitted OnInvalidSubmit=@InvalidFormSubmitted FormName="docTypeForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="row col-md 12">
            <label class="col-md-4">Document Type ID</label>
            <InputNumber class="col-md-8 form-control" @bind-Value="docTypeModel.DocumentTypeId"></InputNumber>
        </div>

        <div class="row col-md-12">
            <label class="col-md-4">Document En Name</label>
            <InputText class="col-md-8 form-control" @bind-Value="docTypeModel.DocumentTypeEnName"></InputText>
        </div>

        <div class="row col-md-12">
            <label class="col-md-4">Document Ar Name</label>
            <InputText class="col-md-8 form-control" @bind-Value="docTypeModel.DocumentTypeArName"></InputText>
        </div>

        <input type="submit" class="btn btn-warning" value="Save" />

        @if (!string.IsNullOrEmpty(DocTypeId))
        {
            <a @onclick="Delete" class="btn btn-danger">Delete</a>
        }

        <div class="form-group">
            <p>@Message</p>
        </div>
    </EditForm>
</div>

