@page "/_employeesOld"


<PageTitle>Customers</PageTitle>

<div>
    <a href='/service' class="btn btn-primary" role="button">
        <i class="fas fa-user-plus"></i>
        Add Customer
    </a>
</div>

<QuickGrid Items="EmployeesList">
    <PropertyColumn Property="@(p => p.PersonId)" Label="#" />
    <PropertyColumn Property="@(p => p.FullEnName)" Label="Full Name" />
    <PropertyColumn Property="@(p => p.Mobile)" Label="Mobile" />
    <PropertyColumn Property="@(p => p.NationalId)" Label="National ID Number" />
</QuickGrid>