@namespace Moamalat.AdminApp
@page "/admin"

@inherits LocalizationComponent

<PageTitle>Admin Home</PageTitle>

<h1>Admin Dashboard</h1>

<!-- Admin-specific components -->
@* <Moamalat.Components.ServiceGrid /> *@

@code {
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Admin Home Initializing");
        await secureDataStoreService.SetAsync("PersonId", "1");
        //await base.OnInitializedAsync();
    }
}