@namespace Moamalat.Components

<div class="coming-soon-container">
    <div class="artwork">
        <!-- Victory sign SVG -->
        <img src="_content/Moamalat.Shared/img/svg/Icons/loadingicon.svg" />
    </div>
    <div class="">
        <h1>Coming Soon</h1>
        <p>We are working hard to bring you something amazing. Stay tuned</p>
    </div>
</div>

@code {

}
