@inherits EntityListComponentBase<ServiceCategory>

@inject ServiceCategoryService _serviceCategoryService
@namespace Moamalat.Components.Basic

<PageTitle>Service Category List</PageTitle>

<div class="panel-container show">
    <div class="panel-content">
        <button class="btn btn-primary" href="CreateNewServiceCategory">Create New</button>
        <QuickGrid Class="table"
                    ItemsProvider="DoFetchEntityPagedData" Pagination="_PaginationState">
            <PropertyColumn Title="ServiceCategoryId" Property="w=>w.ServiceCategoryId" />
            <PropertyColumn Title="CategoryArName" Property="w=>w.CategoryArName" />
            <PropertyColumn Title="CategoryEnName" Property="w=>w.CategoryEnName" />
            <PropertyColumn Title="Icon" Property="w=>w.Icon" />
            <TemplateColumn Context="servicecategory">
                <button class="btn btn-warning" href="">
                    Edit
                </button>
                <button class="btn btn-danger">
                    Delete
                </button>
            </TemplateColumn>
        </QuickGrid>
        <div class="row">
            <div class="col-md-12">
                <Paginator State="@_PaginationState" />
            </div>
        </div>
    </div>
</div>

@code
{
    protected override Task OnInitializedAsync()
    {
        SetService(_serviceCategoryService);

        return base.OnInitializedAsync();
    }
}
