@namespace Moamalat.Components
@inherits LayoutComponentBase

<PageTitle>Moamalat</PageTitle>
<div class="page-wrapper">
    <div class="page-inner">
        <NavMenu />
   
    <div class="page-content-wrapper">
        <PageHeader/>
        <main id="js-page-content" role="main" class="page-content">
                @Body
        </main>
        <PageFooter/>
    </div>
</div>
 </div>
