@namespace Moamalat.Components
@inherits LocalizationComponent

<CascadingValue Value="this">
    <div class="attachmentItemContainer">
      
        <UploadFileButton Title="@Title"/>

    </div>
</CascadingValue>
